[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
fastapi-jwt-auth = "*"
odmantic = "*"
pydantic = {extras = ["email"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
requests = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
dev = "uvicorn server.main:app --reload"
test = "python -m unittest discover ./server/test -v"
create_superuser = "python -m server.scripts.create_superuser"
bot = "python -m bot.main"
cov = "./run_coverage.sh .sh"